/* Body */
body, html { 
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: #000000;
  overflow: hidden;
}
/* WebGL Canvas */
#glcanvas {
  width: 100%;
  height: 100%;
  display: block;
}