/* Body */
body, html { 
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: #000000;
  overflow: hidden;
}

/* WebGL Canvas */
/*#glcanvas {
  width: 100%;
  height: 100%;
  display: block;
}*/

/* Fullscreen Button */
#fsbutton {
  color: #fff;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 10;
}


/* Fading Icon */
.mega-octicon {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.mega-octicon:hover,
.mega-octicon:focus {
  color: rgba(255, 255, 255, 1.0);
}